__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
svelte/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

*.db
*.sqlite3

.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

.streamlit/secrets.toml

.vscode/
.idea/
*.swp
*.swo

.DS_Store
Thumbs.db